html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
#tap-to-place {
  position: fixed;
  bottom: 20px;
  left: 50%;
  right: 0px;
  border-radius: 15px;
  background: black;
  color: white;
  width: 200px;
  margin-left: -100px;
  text-align: center;
  padding: 15px;
  box-sizing: border-box;
  font-family: sans-serif;
  text-transform: uppercase;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;

  font-family: "Roboto", "Helvetica", sans-serif;

  transition: background-color 0.2s;
  will-change: background-color;
}

.inspired-by {
  display: block;
  position: relative;
  margin-bottom: 15px;
  text-align: center;
  color: #fff;
  font-size: 14px;
}

.wrapper {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: block;
  margin: 0 auto;
  width: 87%;
  height: 87%;
  background-color: #fff;
  border-radius: 0;

  /* Add appropriate values for the box-shadow property */
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.2);

  transition: left 0.5s ease-out;
  will-change: left;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.card--19 {
  left: 50%;
}

.card--solstice,
.card--huarache {
  left: 150%;
}

.card__header {
  position: relative;
  height: 72%;
  padding: 30px 30px 300px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  color: #fff;
}

.card__header--19 {
  background-color: #f72648;
  background-image: linear-gradient(#f72648, #fccb3c);

  background: #f72648;
  background: linear-gradient(#f72648, #fccb3c);
}

.card__header--solstice {
  background-color: #3ca3fc;
  background-image: linear-gradient(#3ca3fc, #ffd300);

  background: #3ca3fc;
  background: linear-gradient(#3ca3fc, #ffd300);
}

.card__header--huarache {
  background-color: #26c9f7;
  background-image: linear-gradient(#26c9f7, #dffc3c);

  background: #26c9f7;
  background: linear-gradient(#26c9f7, #dffc3c);
}

.card__watermark {
  overflow: hidden;
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__watermark::after {
  content: attr(data-watermark);
  /* position: relative;
  left: -20px; */
  color: rgba(0, 0, 0, 0.3);
  font-size: 240px;
  font-weight: 700;
  text-transform: uppercase;
}

.card__logo {
  width: 50%;
  height: auto;
  /* margin: 0 auto; */
  margin-left: 50%;
  transform: translateX(-50%);
}

.card__price {
  float: right;
  font-size: 16px;
  font-weight: 300;
}

.card__title {
  /* margin: 35px 0 20px;
  font-size: 15px;
  line-height: 1.1em;
  text-transform: uppercase;
  letter-spacing: 1.5px; */
  font-size: 4rem;
  text-align: center;
  line-height: 1.1em;
  letter-spacing: 4px;
}

.card__subtitle {
  display: block;
  font-size: 1rem;
  text-align: center;
  font-weight: 500;
  font-style: italic;
}

.card__body {
  position: relative;
  padding: 40px 30px 20px;
}

.card__image {
  z-index: 1;
  position: absolute;
  top: -290px;
  left: -30px;
  width: 125%;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.card__wish-list {
  display: block;
  width: 50%;
  margin: 0 auto 15px;
  padding: 15px;
  border: 2px solid #fff;
  border-radius: 20px;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
}

.card__wish-list--19 {
  color: #8850ff;
  border-color: #8850ff;
}

.card__wish-list--solstice {
  color: #ffba00;
  border-color: #ffba00;
}

.card__wish-list--huarache {
  color: #26c9f7;
  border-color: #26c9f7;
}

.card__category {
  display: block;
  font-size: 12px;
  color: #aeaeae;
  text-transform: uppercase;
  text-align: center;
}

.card__will-animate {
  will-change: transform;
}

.cards-placeholder {
  display: block;
  position: relative;
  margin-bottom: 15px;
  text-align: center;
}

.cards-placeholder__item {
  opacity: 0.3;
  display: inline-block;
  margin-right: 10px;
  background-color: #fff;
  width: 30px;
  height: 5px;
  border-radius: 5px;

  transition: opacity 0.2s;
  will-change: opacity;
}

.cards-placeholder__item--active {
  opacity: 1;
}

#confetti {
  position: relative;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid #f00;
  animation: blast 3s ease-out infinite;
}

@keyframes blast {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(2);
  }
}
